.banner__img{
    width: 100%;
    height: 275px;
    position: relative;
    object-fit: cover;
}

/* Larger devices (desktops and laptops, less than 1024px) */
@media (min-width: 1024px) {
    .banner__img{
        height: 383px;
    }
}

