@use '../_partials' as p;
.fonctionnement{
    font-family: p.$text-font;
    margin: 50px 0px;
    padding: 0px 20px;
    &__choice{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }
}

.fonctionnement__menu{
    display: flex;
    padding-left: 35px;
    align-items: center;
    position: relative;
    width: 90%;
    height: 72.38px;
    background-color: p.$background-grey;
    border-radius: 20px;
    gap: 30px;
    @include p.h-shadow;
    &--nb{
        background-color: p.$purple;
        color: p.$white;
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        font-size: 14.18px;
        font-weight: 500;
        position: absolute;
        left: -12px;
    }
    &--icon{
        color: p.$icon-grey;
    }
    &--icon:hover{
        color: p.$purple;
    }
    &--text{
        font-weight: 500;
    }
}

/****** Media queries ***********/
/* Larger devices (desktops and laptops, less than 1024px) */
@media (min-width: 1200px) {
    .fonctionnement__choice{
        flex-direction: row;
        
    }
    .fonctionnement{
        padding: 50px 180px 50px 180px;
        margin: 0;
    }
}
