@use '../_partials' as p;
.footer{
    display: flex;
    flex-direction: column;
    background-color: p.$form-text;
    padding: 22px 25px;
    
    &__list{
        display: flex;
        align-items: center;
        color: p.$white;
        font-family: p.$text-font
        
    }
}

.footer__img{
    width: 139px;
    height: 27px;
    color: p.$white;
}
