@use '../_partials' as p;

.header__container{
    @include p.h-shadow;
    position: relative;
    width: 100%;
    height: 63px;
    z-index: 1;
}
.header__logo{
    text-align: center;
    
    &--img{
        width: 162px;
        height: 30px;
        padding: 10px;
        margin-top: 5px;
    }
}

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (min-width: 767.98px) {
    .header__container{
        box-shadow: none;
    }
}
