@use '../_partials' as p;

.header__container{
    @include p.h-shadow;
}
.header__logo{
    text-align: center;
    
    &--img{
        width: 197px;
        height: 36px;
        padding: 10px;
        margin-top: 5px;
    }
}
