@use '../_partials' as p;
.search-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: p.$form-background;
    height: 50px;
    gap: 15px;
    @include p.search-shadow;
    position: relative;
    &__text{
        text-align: center;
        color: p.$form-text;
        background-color: p.$form-background;
        font-family: p.$text-font;
        font-weight: 500;
    }
    &__icon{
        color: p.$form-text;
    }
}

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (min-width: 767.98px) {
    .search-bar{
        box-shadow: none;
     }
}
