@use '../_partials' as p;
.restaurants{
    font-family: p.$text-font;
    background-color: p.$background-grey ;
    padding: 40px 20px;
    
    &__container{
        display: flex;
        flex-direction: column;
        gap: 18px;
    }
    &__link{
        text-decoration: none;
        color: p.$black;
        position: relative;
        &--article{
            display: flex;
            flex-direction: column;
        }
    }
}


.article-new{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: p.$green;
    color: p.$green-forest;
    border-radius: 2px;
    width: 80px;
    height: 29px;
    top: 15px;
    right: 15px;
    font-size: 14px;
    font-weight: 500;
}
.hide{
    display: none;
}
.article-img{
    object-fit: cover;
    width: 100%;
    height: 187px;
    border-radius: 20px 20px 0px 0px ;
}
.article__container{
    background-color: p.$white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0px 0px 20px 20px;
    padding: 10px ;
    
}
.article--txt{
    font-size: 17px;
    font-weight: 300;
    margin: 7px 0px;
}
.article--title{
    margin: 7px 0px;
    font-size: 18px;
}
/* Checkbox du coeur */
input[type="checkbox"]{
    display: none;
}
.article-icon{
    font-size: 26px;
}
.fa-heart,input{
    cursor: pointer;
 
}
:checked + .fa-heart {
    font-weight: bold;
    background:  -webkit-linear-gradient(p.$purple, p.$pink);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: fadeIn 0.75s ease forwards; /* Animation d'apparition progressive */
}

/* Animation d'apparition */
@keyframes fadeIn {
  0% {
    opacity: 0; 
    }

  50%{
    opacity: 0.35;
    }
  
  100% {
    opacity: 1;
    }
}


/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (min-width: 767.98px) {
    
    .restaurants__link{
        width: calc((100% - 50px)/2);
    }
    .restaurants__container{
        gap: 50px;
        flex-direction: row;
        flex-wrap: wrap
    }
    .restaurants{
        padding: 40px;
    }
}

/* Larger devices (desktops and laptops, less than 1024px) */
@media (min-width: 1024px) {
    
    .restaurants{
        padding: 30px 180px 30px 180px;
    }
    .restaurants__title{
        margin-top: 0;
    }
}